<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>MistCoin</title>
    <meta name="description" content="MistCoin is the first blockchain standard collectible, launched on Ethereum in 2015. A unique ERC20 prototype, it represents a significant milestone in the world of digital collectibles." />
    <meta name="keywords" content="MistCoin, Blockchain, Collectible, ERC20, Ethereum, Crypto, Token, Coin" />

    <!-- Canonical Tag -->
    <link rel="canonical" href="https://www.mistcoineth.com" />
    
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="MistCoin - The First Blockchain Standard Collectible" />
    <meta property="og:description" content="MistCoin is the first blockchain standard collectible, launched on Ethereum in 2015. A unique ERC20 prototype, it represents a significant milestone in the world of digital collectibles." />
    <meta property="og:image" content="https://gaccdiscordimages.s3.us-east-1.amazonaws.com/mistlogo.jpg" />
    <meta property="og:url" content="https://www.mistcoineth.com" />
    <meta property="og:type" content="website" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:title" content="MistCoin - The First Blockchain Standard Collectible" />
    <meta name="twitter:site" content="@MistCoinEth" /> <!-- Replace with the actual Twitter handle -->
    <meta name="twitter:description" content="MistCoin is the first blockchain standard collectible, launched on Ethereum in 2015. A unique ERC20 prototype, it represents a significant milestone in the world of digital collectibles." />
    <meta name="twitter:image" content="https://gaccdiscordimages.s3.us-east-1.amazonaws.com/mistlogo.jpg" /> 
    <meta name="twitter:image:alt" content="MistCoin">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@MistCoinEth" /> 

    <!-- Structured Data -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Website",
        "url": "https://www.mistcoineth.com",
        "name": "MistCoin",
        "description": "MistCoin is the first blockchain standard collectible, launched on Ethereum in 2015. The ERC20 prototype, it represents a significant milestone in the world of digital collectibles.",
        "image": "https://gaccdiscordimages.s3.us-east-1.amazonaws.com/mistlogo.jpg",
        "sameAs": [
          "https://twitter.com/MistCoinEth",
          "https://t.me/MistCoinEth", <!-- Replace with the actual Telegram URL -->
          "https://dexscreener.com/ethereum/0x7c2caefe7ef6f5edf53cdcea8d60ea615f102e0c",
          "https://www.dextools.io/app/en/ether/pair-explorer/0x7c2caefe7ef6f5edf53cdcea8d60ea615f102e0c",
          "https://coinmarketcap.com/dexscan/ethereum/0x7c2caefe7ef6f5edf53cdcea8d60ea615f102e0c/",
          "https://etherscan.io/token/0xf4eced2f682ce333f96f2d8966c613ded8fc95dd",
          "https://etherscan.io/token/0x7Fd4d7737597E7b4ee22AcbF8D94362343ae0a79"
        ]
      }
      </script>
  
    <!-- Favicons -->
    <link href="{{ url_for('static', filename='assets/img/favicon.ico') }}" rel="icon">
    <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='assets/img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/img/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='assets/img/site.webmanifest') }}">
  
    <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
  
    <!-- Main CSS File -->
    <link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet">
  
  </head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a href="{{ url_for('static', filename='index.html') }}" class="logo d-flex align-items-center me-auto me-xl-0">
        <img src="{{ url_for('static', filename='assets/img/mist-logo.png') }}" alt="">
        <h1 class="sitename">MistCoin</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about">MistCoin</a></li>
          <li><a href="#timeline">Timeline</a></li>
          <li><a href="#scrapbook">Scrapbook</a></li>
          <li><a href="#buy">How to Buy</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <div class="header-social-links">
        <a href="https://x.com/MistCoinEth" class="twitter"><i class="bi bi-twitter-x"></i></a>
        <a href="https://bsky.app/profile/mistcoin.bsky.social"><i class="bi bi-twitter"></i></a>
        <a href="https://warpcast.com/mistcoin"><i class="bi bi-rainbow"></i></a>
        <a href="https://t.me/MistCoinEth" class="telegram"><i class="bi bi-telegram"></i></a>
        <a href="https://discord.gg/XzGctWjS7z" class="discord"><i class="bi bi-discord"></i></a>
      </div>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
        <img src="{{ url_for('static', filename='assets/img/mist-logo.png') }}" class="img-fluid animated" alt="">
        <h1>The <span>First</span> Blockchain Standard</h1>
        <p>MistCoin is a historic Ethereum collectible and the origin of every ERC-20 token.</p>
        <div class="d-flex">
          <a href="#about" class="btn-get-started scrollto">Learn More</a>
          <a href="https://swap.cow.fi/#/1/swap/WETH/WMC" style="color: white;" class="btn-get-started scrollto btn-watch-video d-flex align-items-center">Buy Now</a>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- Clients Section -->
    <section id="clients" class="clients section light-background">

      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{{ url_for('static', filename='assets/img/clients/ethereum.png') }}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{{ url_for('static', filename='assets/img/clients/coinbase-base.png') }}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{{ url_for('static', filename='assets/img/clients/uni.png') }}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{{ url_for('static', filename='assets/img/clients/gecko.png') }}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{{ url_for('static', filename='assets/img/clients/dexscreen.png') }}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="{{ url_for('static', filename='assets/img/clients/nonkyc.png') }}" class="img-fluid" alt="">
          </div><!-- End Client Item -->

        </div>

      </div>

    </section><!-- /Clients Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>MistCoin</h2>
        <p>
          Shortly after Ethereum’s launch in 2015, Ethereum deployed MistCoin, a 1 million supply collectible coin, as a prototype to test the concept of standardized token creation. This experiment paved the way for the now widely adopted ERC-20 token standard, forever shaping the Ethereum ecosystem.
        </p>
      </div><!-- End Section Title -->

      <div class="container">
        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p>
              Weeks after MistCoin launched, Vitalik Buterin and Fabian Vogelsteller proposed the ERC-20 standard, now used by the majority of tokens on Ethereum today.
            </p>
            <ul>
              <li>💠&nbsp; <span><strong>MistCoin Contract Address (MC)</strong>: <a href="https://etherscan.io/token/0xf4eced2f682ce333f96f2d8966c613ded8fc95dd">0xf4eCEd2f682CE333f96f2D8966C613DeD8fC95DD</a></span></li>
              <li>💠&nbsp; <span><strong>Total Supply:</strong> 1,000,000 MistCoin (approx. 400,000 circulating)</span></li>
              <li>💠&nbsp; <span><strong>Wrapped MistCoin Contract Address (WMC)</strong>: <a href="https://etherscan.io/token/0x7Fd4d7737597E7b4ee22AcbF8D94362343ae0a79">0x7Fd4d7737597E7b4ee22AcbF8D94362343ae0a79</a></span></li>
            </ul>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <p>
              Ethereum developers Fabian Vogelsteller and Alex Van de Sande, key members of the Mist team, deployed MistCoin as one of the earliest tokens on Ethereum. MistCoin was simple—its only functions were <code>transfer</code> and <code>balanceOf</code>. In July 2022, MistCoin was extended with a wrapper contract that implemented modern ERC-20 functionality, enabling MistCoin to be traded as $WMC on Uniswap.
              <!-- Liquidity for $WMC was locked for 3 years via a <a href="https://etherscan.io/address/0x67f85a924e4c72e05010a03502f0350cf10557c7">custom contract</a> -->
            </p>
            <div class="button-group">
              <a href="https://etherscan.io/token/0x7fd4d7737597e7b4ee22acbf8d94362343ae0a79#balances" class="read-more">
                <span>WMC Holders</span><i class="bi bi-arrow-right"></i>
              </a>
              <a href="https://etherscan.io/token/0xf4eced2f682ce333f96f2d8966c613ded8fc95dd#balances" class="read-more">
                <span>MC Holders</span><i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="container section-title" style="padding: 15px; margin: 0 auto; max-width: 100%; font-family: Arial, sans-serif; line-height: 1.6;">
          <h2 style="font-size: 1.5rem; text-align: center; margin-bottom: 20px; padding-bottom: 10px;">Tokenomics</h2>
          
          <div class="content">
              <!-- Tokenomics Section -->
              <ul style="list-style: none; padding: 0; margin: 0;">
                  <li style="margin-bottom: 20px; text-align:left">
                      <span><strong>💠 Locked Liquidity:</strong> V2 Liquidity for Wrapped MistCoin is locked until Nov 3, 2115. 
                          <a href="https://beta.uncx.network/lockers/univ2/chain/1/address/0xaaea0db2b27344f20e0245d3b058d746e9dd98d5/lock/0x663a5c229c09b049e36dcc11a9b0d4a8eb9db2140aaea0db2b27344f20e0245d3b058d746e9dd98d50" style="color: #007bff;">[Source]</a>
                      </span>
                  </li>
                  <li style="margin-bottom: 20px; text-align:left">
                      <span><strong>💠 Inactive and Lost Wallets:</strong> Approximately 20% of the total supply (200,000 MistCoins) resides in lost or inactive wallets, reducing the effective circulating supply. 
                          <a href="https://dune.com/cart00n/mistcoin" style="color: #007bff;">[Source]</a>
                      </span>
                  </li>
                  <li style="margin-bottom: 20px; text-align:left">
                      <span><strong>💠 Circulating Supply:</strong> ~407,000 MistCoin available in active wallets and trading platforms. 
                          <a href="https://www.coingecko.com/en/coins/wrapped-mistcoin" style="color: #007bff;">[Source]</a>
                      </span>
                  </li>
              </ul>
      
              <!-- Notable Holders Section -->
              <h3 style="font-size: 1.3rem; margin-top: 30px; margin-bottom: 15px; padding-bottom: 5px;">Notable Holders</h3>
              <ul style="list-style: none; padding: 0; margin: 0;">
                  <li style="margin-bottom: 20px; text-align:left">
                      <span><strong>💠 Fabian Vogelsteller:</strong> The MistCoin deployer, Ethereum developer, and creator of ERC-20 owns ~25% of the supply and is actively helping the project succeed. 
                          <a href="https://lpvision.korkey.tech/positions/uni-v3#0x1E8Df08C55C7650E1Df68C6E666D3DFEF7366867" style="color: #007bff;">[Source]</a>
                      </span>
                  </li>
                  <li style="margin-bottom: 20px; text-align:left">
                      <span><strong>💠 Alex "Avsa" Van de Sande:</strong> The Mist Director and early Ethereum Foundation employee, Alex owns ~5% of the supply. Alex locked his supply for years. 
                          <a href="https://etherscan.io/address/0x73d245b211e51dbee8ed9c04b235262bc4845009#readContract" style="color: #007bff;">[Source]</a>
                      </span>
                  </li>
                  <li style="margin-bottom: 20px; text-align:left">
                      <span><strong>💠 Doge Eth Bounty:</strong>In 2015, Avsa created a DAO with Vitalik Buterin, Ming Chan, Piper Merriam, Hudson Jameson, Ross Nicoll, and two others. The DAO owns 5% of the supply. 
                          <a href="https://etherscan.io/address/0xdbf03b407c01e7cd3cbea99509d93f8dddc8c6fb" style="color: #007bff;">[Source]</a>
                      </span>
                  </li>
              </ul>
          </div>
      </div>
      
      
      </div>

    <!-- Features Section -->
    <section id="features" class="features section">

      <div class="container">

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <img src="{{ url_for('static', filename='assets/img/mist_mentions.jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
            <h3>The creators of MistCoin, Fabian and Alex, mention MistCoin on Twitter/X.</h3>
            <p class="fst-italic">
              MistCoin was deployed to test the first implementation of the ERC-20 standard.
            </p>
            <ul>
              <li><i class="bi bi-check"></i><span> The pioneering example of an ERC-20 token on Ethereum, long before it became a standard.</span></li>
              <li><i class="bi bi-check"></i> <span> Helped shape the future of decentralized finance and tokenized assets.</span></li>
              <li><i class="bi bi-check"></i> <span> MistCoin paved the way for the hundreds of millions of tokens now circulating on Ethereum.</span></li>
            </ul>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{{ url_for('static', filename='assets/img/mist_contract_deployment.png') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1" data-aos="fade-up" data-aos-delay="200">
            <h3>A Milestone for Ethereum's Token Economy</h3>
            <p class="fst-italic">
              The introduction of MistCoin marked a major milestone in the development of Ethereum's smart contract capabilities, showing how tokens could be issued, transferred, and managed programmatically.
            </p>
            <p>
              The Mist team <a href="https://www.reddit.com/r/ethereum/comments/3rcnrx/ethereum_wallet_beta3_contract_deployment_and/">released an update</a> to the Mist Browser allowing for a no-code UI for creating and deploying standard tokens. Before this release, there were only a few contract deployers playing with smart contracts, and after the release there were hundreds of new developers.
            </p>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 d-flex align-items-center" data-aos="zoom-out">
            <img src="{{ url_for('static', filename='assets/img/mist_system.jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7" data-aos="fade-up">
            <h3>Influencing the Future of Tokenized Assets</h3>
        <p>
          MistCoin’s legacy lives on as a foundational experiment that inspired the development of major tokens like Tether, Shiba Inu, and countless others. Its role in solidifying the ERC-20 token standard cannot be understated.
        </p>
        <ul>
          <li><i class="bi bi-check"></i> <span> Demonstrated the programmability and flexibility of Ethereum's smart contracts.</span></li>
          <li><i class="bi bi-check"></i><span> Led to innovations that enabled decentralized finance (DeFi) and beyond.</span></li>
          <li><i class="bi bi-check"></i> <span> The blueprint for how tokens are issued, governed, and transferred today.</span></li>
        </ul>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item">
          <div class="col-md-5 order-1 order-md-2 d-flex align-items-center" data-aos="zoom-out">
            <img src="{{ url_for('static', filename='assets/img/mist_etherscan.png') }}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1" data-aos="fade-up">
            <h3>The ERC-20 Standard: A Lasting Legacy</h3>
            <p class="fst-italic">
              As one of the earliest experiments in token creation, MistCoin played a pivotal role in shaping the standards for modern token contracts on Ethereum.
            </p>
            <p>
              Today, the ERC-20 standard is the backbone of Ethereum's tokenized ecosystem, with MistCoin standing as a historical reference point for developers and enthusiasts exploring Ethereum’s evolution.
            </p>
          </div>
        </div><!-- Features Item -->

      </div>

    </section><!-- /Features Section -->

    <!-- Why Us Section -->
    <section id="timeline" class="why-us section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Timeline</h2>
        <p>A historical journey through the development of MistCoin and the ERC-20 token standard.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="100">
            <span><a href="https://etherscan.io/block/0">Jul. 30, 2015</a></span>
            <h4>The Frontier</h4>
            <p>Vitalik Buterin launches the Ethereum network and the first block is confirmed.</p>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="200">
            <span><a href="https://etherscan.io/tx/0x74349ce609e100a65c91851781f3b6b0829cef476eaba5ce53630d49497554a7">Nov. 3, 2015</a></span>
            <h4>ERC-20 is Born</h4>
            <p>Fabian Vogelsteller, Alex Vande de Sande, and the Mist team deployed the first ERC-20 prototype: MistCoin (MC Token).</p>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="300">
            <span><a href="https://eips.ethereum.org/EIPS/eip-20">Nov. 19, 2015</a></span>
            <h4>ERC-20 Proposal</h4>
            <p>Vitalik Buterin and Fabian published the ERC-20 token standard proposal.</p>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="400">
            <span><a href="https://www.coindesk.com/markets/2017/09/11/ethereums-erc-20-token-standard-has-been-formalized/">Sep. 11, 2017</a></span>
            <h4>ERC-20 Finalized</h4>
            <p>The standard is formalized on the Ethereum GitHub page, signaling that all tokens built on Ethereum should conform to the standard.</p>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="400">
            <span><a href="https://etherscan.io/tx/0x7f1c438a92b94798b273f56f530656986641fbdb57774e5a9b683a77be135ec3">Jul. 27, 2022</a></span>
            <h4>MistCoin Wrapped</h4>
            <p>A wrapper contract was deployed for the 2015 contract to add modern ERC-20 functionality and enable trading.</p>
          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="600">
            <span><a href="https://etherscan.io/tx/0x7fd3bb6211926a1cee30a39e09ef77d5e83de6160861ac04f46f0898b227dd27">Jul. 28, 2022</a></span>
            <h4>Uniswap LP Launched</h4>
            <p>An LP was set up and funded. After 9 years, MistCoin, the first blockchain standard, can be bought by anyone freely!</p>
          </div><!-- End Card Item -->

        </div>

      </div>

    </section><!-- /Why Us Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <p>Wise words from folks on social media.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 1
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>The first ERC20 I did was MistCoin a fun creation to test tokens in the Ethereum Wallet. Right after somebody created “bitcoin” 🙀 I still own some super valuable MistCoin 😜</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{{ url_for('static', filename='assets/img/team/fabian.jpg') }}" class="testimonial-img" alt="">
                <h3>Fabian Vogelsteller</h3>
                <h4>MistCoin Creator</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>This is hilarious. MistCoin was a test coin we deployed for fun and gave away on Reddit to test our token implementation. And since fabian had just wrote the spec, it became the first erc20 compliant token.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{{ url_for('static', filename='assets/img/team/avsa.jpg') }}" class="testimonial-img" alt="">
                <h3>Alex Van de Sande</h3>
                <h4>Ethereum Foundation Alumni & Mist Developer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>$Mist certainly has some historical value, as it marked the beginning of the wave of tokens on Ethereum and the rest of the Blockchain space.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{{ url_for('static', filename='assets/img/team/fabian.jpg') }}" class="testimonial-img" alt="">
                <h3>Fabian Vogelsteller</h3>
                <h4>MistCoin Creator</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>I just submitted a ticket to @etherscan about #MistCoin to add the tag "First ERC20 token". While doing that I realised, I actually deployed it 16 days before submitting the ERC proposal😁, as I used it to test the standard idea.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{{ url_for('static', filename='assets/img/team/fabian.jpg') }}" class="testimonial-img" alt="">
                <h3>Fabian Vogelsteller</h3>
                <h4>MistCoin Creator</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>We need to bring back Mist.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <img src="{{ url_for('static', filename='assets/img/team/vitalik-devcon1.png') }}" class="testimonial-img" alt="">
                <h3>Vitalik Buterin</h3>
                <h4>Founder of Ethereum</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Portfolio Section -->
    <section id="scrapbook" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Scrapbook</h2>
        <p>A collection of photos and videos of the Ethereum Mist team!</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{{ url_for('static', filename='assets/img/scrapbook/mist_browser.png') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Mist Browser</h4>
                <p>The update allowed anyone to easily make tokens.</p>
                <a href="{{ url_for('static', filename='assets/img/scrapbook/mist_browser.png') }}" title="Mist Browser" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://www.reddit.com/r/ethereum/comments/3rcnrx/ethereum_wallet_beta3_contract_deployment_and/" title="Mist Browser update" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="{{ url_for('static', filename='assets/img/scrapbook/fabian_presents_dapps.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Fabian at Devcon 1</h4>
                <p>Fabian Vogelsteller presents on “What are DApps and Why Meteor?” </p>
                <a href="{{ url_for('static', filename='assets/img/scrapbook/fabian_presents_dapps.jpg') }}" title="Fabian at Devcon 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://x.com/ethereum/status/664048249125396480" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <img src="{{ url_for('static', filename='assets/img/scrapbook/what_is_mist.png') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Ethereum presents Mist</h4>
                <p>Alex Van de Sande presents a sneak preview of Mist, the Ethereum decentralised application browser. </p>
                <a href="{{ url_for('static', filename='assets/img/scrapbook/what_is_mist.png') }}" title="Ethereum presents Mist" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://www.youtube.com/watch?v=IgNjs_WaFSc&t=11s" title="Watch the video." class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
              <img src="{{ url_for('static', filename='assets/img/scrapbook/2014_mist_sketch.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Original Mist Sketch</h4>
                <p>A sketch from 2014, where Alex Van de Sande was brainstorming concepts for Mist.</p>
                <a href="{{ url_for('static', filename='assets/img/scrapbook/2014_mist_sketch.jpg') }}" title="Original Mist Sketch" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://x.com/avsa/status/870037259768279040" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <img src="{{ url_for('static', filename='assets/img/scrapbook/simon-devcon-1.png') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Simon at Devcon 1</h4>
                <p>Simon de la Rouviere from ConsenSys presents on token standardization at Devcon 1.</p>
                <a href="{{ url_for('static', filename='assets/img/scrapbook/simon-devcon-1.png') }}" title="Simon at Devcon 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://x.com/ethereum/status/671623408166281216" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
              <img src="{{ url_for('static', filename='assets/img/scrapbook/mist_roadmap.png') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Mist Roadmap</h4>
                <p>Fabian hilariously shares the Mist roadmap.</p>
                <a href="{{ url_for('static', filename='assets/img/scrapbook/mist_roadmap.png') }}" title="Mist Roadmap" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://x.com/feindura/status/870375126096850944" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="{{ url_for('static', filename='assets/img/scrapbook/mist_team.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Mist Team</h4>
                <p>The Mist team in 2017</p>
                <a href="{{ url_for('static', filename='assets/img/scrapbook/mist_team.jpg') }}" title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://x.com/feindura/status/869695036216266752" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <img src="{{ url_for('static', filename='assets/img/scrapbook/avsa_devcon_2.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Devcon 2 Mist Presentation</h4>
                <p>Alex Van de Sande demoes the light client and 2min syncs.</p>
                <a href="{{ url_for('static', filename='assets/img/scrapbook/avsa_devcon_2.jpg') }}" title="Devcon 2 Mist Presentation" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://x.com/feindura/status/778415959992176640" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
              <img src="{{ url_for('static', filename='assets/img/scrapbook/run_mist.png') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Mist Installation Walkthrough</h4>
                <p>A community-led walk through of installing and setting up Ethereum Mist for development.</p>
                <a href="{{ url_for('static', filename='assets/img/scrapbook/run_mist.png') }}" title="Mist Installation Walkthrough" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://www.youtube.com/watch?v=MzT0fvmZ638" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
              <img src="{{ url_for('static', filename='assets/img/scrapbook/og_mist_team.jpg') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>The OG Mist Team</h4>
                <p>The original Mist team enjoying some Thai food in February 2015, before Ethereum mainnet.</p>
                <a href="{{ url_for('static', filename='assets/img/scrapbook/og_mist_team.jpg') }}" title="The OG Mist Team" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://x.com/avsa/status/565612419737997312" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
              <img src="{{ url_for('static', filename='assets/img/scrapbook/avsa_2015_presentation.png') }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Mist Brand Principles</h4>
                <p>A presentation soon after MistCoin teaching about smart contracts and showing the Mist Browser brand principles.</p>
                <a href="{{ url_for('static', filename='assets/img/scrapbook/avsa_2015_presentation.png') }}" title="Mist Brand Principles" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://x.com/avsa/status/664111304198737920" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Portfolio Section -->
  
<!-- Team Section -->
<section id="erc20-contributors" class="team section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Token Standard Contributors</h2>
    <p>This incomplete list showcases some of the contributors to the ERC-20 standard.</p>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="team-member d-flex align-items-start">
          <div class="pic"><img src="{{ url_for('static', filename='assets/img/team/vitalik-devcon1.png') }}" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Vitalik Buterin</h4>
            <span>Co-Founder of the Ethereum Foundation</span>
            <p>Vitalik began externally proposing the first standards in crypto in an Ethereum Wiki on June 17, 2015. Through July 5th, 2015, Vitalik continued to expand on his ideas on standardization, imagining standard Decentralized Exchanges and Registries. These were the building blocks for MetaMask, Uniswap, and ENS, to name a few. On November 19, 2015, Vitalik and Fabian propsed the ERC-20 standard.</p>
            <div class="socials" style="font-size: 12px;">
              <a href="https://github.com/ethereum/wiki/wiki/Standardized_Contract_APIs/748c9b0a7f459ed5754420b6368bdd536bc4bdc4">First Edit: <i class="bi bi-github"></i></a><br />
              <a href="https://github.com/ethereum/wiki/wiki/Standardized_Contract_APIs/_history?page=2">Later edits: <i class="bi bi-github"></i></a><br />
              <a href="https://github.com/ethereum/dapp-bin/blob/master/standardized_contract_apis/currency.sol">Implementation: <i class="bi bi-github"></i></a><br />
              <a href="https://eips.ethereum.org/EIPS/eip-20">ERC-20 Proposal: <i class="bi bi-globe"></i></a><br />
              <a href="https://archive.devcon.org/archive/watch/1/standardization/?tab=YouTube">Devcon 1 | Standardization: <i class="bi bi-youtube"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="team-member d-flex align-items-start">
          <div class="pic"><img src="{{ url_for('static', filename='assets/img/team/fabian-mist.png') }}" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Fabian Vogelsteller</h4>
            <span>Lead Ethereum Dapp Developer | Mist</span>
            <p>Fabian made both syntactical and function paramater changes to functions throughout the standards wiki. Fabian's commit on October 30, 2015 was his last commit before deploying the first ERC-20: MistCoin alongside the feature to create standard tokens in the Ethereum Wallet: Mist. On November 19, 2015, Vitalik and Fabian propsed the ERC-20 standard.</p>
            <div class="socials" style="font-size: 12px;">
              <a href="https://github.com/ethereum/wiki/wiki/Standardized_Contract_APIs/c12d533a9993b058bf891a1d0780a21742b7ec0f">Commit: <i class="bi bi-github"></i></a><br />
              <a href="https://eips.ethereum.org/EIPS/eip-20">ERC-20 Proposal: <i class="bi bi-globe"></i></a>
              <a href="https://github.com/ethereum/mist/releases/tag/0.3.5">Wallet 0.3.5 Release Notes: <i class="bi bi-github"></i></a><br />
              <a href="https://archive.devcon.org/archive/watch/1/standardization/">Devcon 1 | Standardization: <i class="bi bi-youtube"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="team-member d-flex align-items-start">
          <div class="pic"><img src="{{ url_for('static', filename='assets/img/team/avsa-mist.png') }}" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Alex Van de Sande</h4>
            <span>Head UX Designer | Ethereum Foundation</span>
            <p>Alex "avsa" led the Mist team and was the chief designer of the Ethereum Wallet. Adoption is one of the hardest challenges in a standard becoming accepted, and Avsa's work in the Mist Browser was monumental in the effort.</p>
            <div class="socials" style="font-size: 12px;">
              <a href="https://github.com/ethereum/mist/releases/tag/0.3.5">Wallet 0.3.5 Release Notes: <i class="bi bi-github"></i></a><br />
              <a href="https://www.reddit.com/r/ethereum/comments/3n8fkn/lets_talk_about_the_coin_standard/">Coin Standards: <i class="bi bi-reddit"></i></a><br />
              <a href="https://archive.devcon.org/archive/watch/2/mist-vision-and-demo-updated/">Devcon 2 | Mist Vision and Demo: <i class="bi bi-youtube"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="team-member d-flex align-items-start">
          <div class="pic"><img src="{{ url_for('static', filename='assets/img/team/gavinwood.jpg') }}" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Gavin Wood</h4>
            <span>Co-Founder of the Ethereum Foundation</span>
            <p>Gavin's work is replete throughout Ethereum repositories, but perhaps none so clear in his connection to coin standards as his implementation of GavCoin on February 19th, 2015.</p>
            <div class="socials" style="font-size: 12px;">
              <a href="https://github.com/ethereum/dapp-bin/blob/1b7702dfd1e273ed7c7520b21d6c67b53d407170/coin/coin.sol">Commit: <i class="bi bi-github"></i></a><br />
              <a href="https://github.com/ethereum/dapp-bin/blob/1b7702dfd1e273ed7c7520b21d6c67b53d407170/coin/gavcoin.png">GavCoin Logo: <i class="bi bi-github"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="team-member d-flex align-items-start">
          <div class="pic"><img src="{{ url_for('static', filename='assets/img/team/simon.jpg') }}" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Simon de la Rouviere</h4>
            <span>ERC-20 Standard Contributor</span>
            <p>Simon made several improvements to the ERC-20 standard, renaming 'sendCoin', 'sendCoinFrom', and 'disapprove' to the familiar 'transfer', 'transferFrom', and 'unapprove'. While working for ConsenSys, Simon gave a talk at Ethereum's Devcon 1 on token standard, worth a watch!</p>
            <div class="socials" style="font-size: 12px;">
              <a href="https://github.com/ethereum/wiki/wiki/Standardized_Contract_APIs/9721a6be9f6207629d0c58f349aa90ce5890cd13">Latest Commit: <i class="bi bi-github"></i></a><br />
              <a href="https://www.youtube.com/watch?v=kE5oGw8oKsY&list=PLJqWcTqh_zKHQUFX4IaVjWjfT2tbS4NVk">Devcon 1 Talk: <i class="bi bi-youtube"></i></a>
            </div>
          </div>
        </div>
      </div><!-- End Team Member -->

    </div>

  </div>

</section><!-- /Team Section -->

</section><!-- /Buy Section -->

    <!-- Pricing Section -->
    <section id="buy" class="pricing section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Buy MistCoin</h2>
        <p>Purchase MistCoin from any decentralized exchange, like Uniswap, or the centralized exchange NonKyc.</p>
      </div><!-- End Section Title -->

      <div class="row g-4 g-lg-0">

        <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="pricing-item">
            <h3>Centralized Exchanges</h3>
            <h4>Buy MistCoin $WMC on a CEX</h4>
            <ul>
            </ul>
            
            <div class="text-center"><a href="https://nonkyc.io/market/WMC_USDT" target="_blank" class="buy-btn">Buy on NonKyc.io</a></div>
          </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4 featured" data-aos="zoom-in" data-aos-delay="200">
            <div class="pricing-item">
              <h3>Ethereum (L1)</h3>
              <h4>Buy MistCoin $WMC</h4>
              <ul>
                <li><i class="bi bi-check"></i> <span>1,000,000 Total Supply</span></li>
                <li><i class="bi bi-check"></i> <span>405,000 Circulating Supply</span></li>
                <li><i class="bi bi-check"></i> <span>0% Tax</span></li>
                <li><i class="bi bi-check"></i> <span>Thick, Locked LP</span></li>
              </ul>
              <div class="text-center"><a href="https://swap.cow.fi/#/1/swap/WETH/WMC" target="_blank" class="buy-btn">Buy on CowSwap</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="pricing-item">
              <h3>Base (L2)</h3>
              <h4>Buy MistCoin $WMC on Base</h4>
              <ul>
              </ul>
              
              <div class="text-center"><a href="https://swap.cow.fi/#/8453/swap/ETH/WMC" target="_blank" class="buy-btn">Buy on CowSwap</a></div>
            </div>
            </div><!-- End Pricing Item -->

        </div>

      </div>

    </section><!-- /Pricing Section -->

    <!-- Faq Section -->
    <section id="faq" class="faq section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>FAQ</h2>
        <p>Answers to common questions about MistCoin and the ERC-20 token standard</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-8">

            <div class="faq-container">

              <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="200">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>What is MistCoin, and why is it significant?</h3>
                <div class="faq-content">
                  <p>
                    MistCoin was one of the first tokens deployed on Ethereum as a test for the ERC-20 standard. It served as a proof of concept for tokenized assets on Ethereum, influencing the development of countless tokens that followed.
                  </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item" data-aos="fade-up" data-aos-delay="300">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>What is the ERC-20 token standard?</h3>
                <div class="faq-content">
                  <p>
                    The ERC-20 standard defines a set of rules for creating tokens on the Ethereum blockchain. These rules ensure tokens are interoperable with each other and with decentralized applications (dApps), providing consistency in how tokens function across the Ethereum ecosystem.
                  </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item" data-aos="fade-up" data-aos-delay="400">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>How did MistCoin contribute to the development of decentralized finance (DeFi)?</h3>
                <div class="faq-content">
                  <p>
                    As one of the earliest experiments in token creation, MistCoin demonstrated the programmability and flexibility of Ethereum's smart contracts. This laid the groundwork for the tokens that would later drive the decentralized finance (DeFi) movement, enabling a wide range of financial applications on the blockchain.
                  </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item" data-aos="fade-up" data-aos-delay="500">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>Why was MistCoin wrapped?</h3>
                <div class="faq-content">
                  <p>
                    MistCoin's original contract, deployed on November 3rd, 2015, only contains two simple functions. The ERC-20 standard calls for two functions that are needed for the token to be made tradable on decentralized exchanges: `approve` and `transferFrom`. The wrapper allows MistCoin holders to wrap (and unwrap) their coins into a contract that is tradable. Holders of MistCoin and Wrapped MistCoin tokens can interact with the wrapper contract to easily wrap and unwrap their tokens.
                  </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item" data-aos="fade-up" data-aos-delay="600">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>What makes ERC-20 tokens so important?</h3>
                <div class="faq-content">
                  <p>
                    ERC-20 tokens are essential to the Ethereum ecosystem because they allow developers to create tokens that can be easily traded, transferred, and used within decentralized applications. The standard provides uniformity, enabling seamless integration with wallets, exchanges, and DeFi platforms.
                  </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item" data-aos="fade-up" data-aos-delay="600">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>Can I wrap or unwrap my MistCoin anytime?</h3>
                <div class="faq-content">
                  <p>
                    Yes! The wrapper contract allows you to wrap and unwrap tokens at will and safely. Here is how to do it: 
                    <br /><br />1. <a href="https://etherscan.io/address/0x67c6ec7e6a0e2e2d345de398d3ac607364b0ed30#writeContract" style="color: white; text-decoration:underline">Write Contract:</a> createDropbox (create your dropbox where you will drop your OG MistCoin)
                    <br />2. <a href="https://etherscan.io/address/0x67c6ec7e6a0e2e2d345de398d3ac607364b0ed30#readContract" style="color: white; text-decoration:underline">Read Contract:</a> dropBoxes (read out the dropbox address you just created)
                    <br />3. <a href="https://etherscan.io/token/0xf4eced2f682ce333f96f2d8966c613ded8fc95dd" style="color: white; text-decoration:underline">Transfer OG MistCoin:</a>Transfer OG MistCoin using the transfer function to the Dropbox address from Step 2
                    <br />4. <a href="https://etherscan.io/address/0x67c6ec7e6a0e2e2d345de398d3ac607364b0ed30#writeContract" style="color: white; text-decoration:underline">Write Contract:</a> wrap (custom decimals 2), wrapping 1 MistCoin = 100 in the input.
                  </p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div>

        </div>

      </div>

    </section><!-- /Faq Section -->

  </main>

  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
            <a href="{{ url_for('static', filename='index.html') }}" class="logo d-flex align-items-center">
                <span class="sitename">MistCoin</span>
              </a>
          <div class="social-links d-flex mt-4">
            <a href="https://x.com/MistCoinEth"><i class="bi bi-twitter-x"></i></a>
            <a href="https://bsky.app/profile/mistcoin.bsky.social"><i class="bi bi-twitter"></i></a>
            <a href="https://warpcast.com/mistcoin"><i class="bi bi-rainbow"></i></a>
            <a href="https://t.me/MistCoinEth"><i class="bi bi-telegram"></i></a>
            <a href="https://discord.gg/XzGctWjS7z"><i class="bi bi-discord"></i></a>
          </div>
        </div>

      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>

  <!-- Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>